$bg-color-1: #f8f9fa; //light grey bg
$bg-color-2: #ffffff; //white bg
$icn-color-1: #027bfe; //blue signin button and icons color
$txt-color-1: #212529; //txt color black
$txt-color-2: #ffffff; // txt color white
$txt-color-3: #969ca1; //txt color lightgrey
$txt-color-4: #7f8891; //email txt color
$txt-color-5: #2c7bff; //txt color blue
$txt-color-6: #9e9fa1; //P color grey

//font style lato
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
$txt-style: 'Lato';
