header.top {
  @include format-section;
  height: 350px - 310px;
  overflow: hidden;
  background: $bg-color-1;
  position: fixed;
  opacity: 0.75;
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .business {
    width: 50%;
    font-family: $txt-style;
    font-size: 12px;
    color: $txt-color-1;
  }
  .top-bottom-button {
    width: 70px;
    height: 30px;
    margin-top: 5px;
    padding-top: 3px;
    background: $icn-color-1;
    border: 3px solid $icn-color-1;
    border-radius: 5px;
    font-family: $txt-style;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    a {
      text-decoration: none;
      color: $txt-color-2;
    }
    }
  }
}
